* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .visible {

} */

.text {
    color: #FDB1FF;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}

.btn {
    background-color: #FDB1FF;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .2s;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #20009E;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(249, 81, 255);
}

.btn:focus {
    outline: none;
}

/* ---------------- */
/* LOGIN PAGE */
/* ---------------- */

.main-container {
    background-color: rgb(2, 7, 82);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---------------- */
/* CONTENT */
/* ---------------- */

.content-container {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ----- Titles ----- */

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 72px;
    line-height: 1;
}

.subtitle {
    font-family: 'Courgette', cursive;
    font-size: 72px;
    text-align: center;
    transform: rotate(-5deg);
    font-weight: 400;
    margin-top: -10px;
    text-shadow: 4px 0px rgb(249, 81, 255);    
}

.line {
    height: 3px;
    width: 250px;
    margin-top: 14px;
    margin-left: -6px;
    background-color: #FDB1FF;
    transform: rotate(-5deg);
    border-radius: 3px;
}

.explanation-paragraph {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    width: 60%;
    margin-top: 30px;
}

/* ---------------- */
/* FORM */
/* ---------------- */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* ----- Labels & Inputs ----- */

.login-form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.label {
    margin-bottom: 8px;
    letter-spacing: .6px;
}

.input {
    width: 205px;
    height: 45px;
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 8px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    color: black;
    transition: .2s;
}

.input:focus {
    outline: none; 
    box-shadow: 0 0 0 3px #FDB1FF;
}

/* ----- Login Button ----- */

.login-btn:disabled {
    background-color: rgba(252, 177, 255, 0.562);
    color: rgba(32, 0, 158, 0.521);
    cursor: default;
}

/* ---------------- */
/* MODAL */
/* ---------------- */

.modal-container {
    display: flex;
    justify-content: center;
}

.modal-content {
    padding: 20px;
    height: 25vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FDB1FF;
    box-shadow: 0px 0px 7px 2px #07093e;
    border-radius: 4px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.modal-paragraph {
    font-family: 'Red Hat Text', sans-serif;
    color: #20009E;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.modal-btn {
    width: 40%;
    padding: 6px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(249, 81, 255);
    box-shadow: 1px 2px 0px #20009E;
    cursor: pointer;
    transition: .2s;
}

.modal-btn:hover {
    background-color: #20009E;
}

.modal-btn:focus {
    outline: none;
}

/* ---------------- */
/* LOGGED IN PAGE */
/* ---------------- */

.logged-in-page {
    background-color: rgb(2, 7, 82);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ----- Welcome text ----- */

.welcome-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
}

.welcome-title .title {
    font-size: 42px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

/* ----- Form ----- */

.logged-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logged-in-form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.logged-in-form-section:nth-of-type(1) {
    margin-bottom: 30px;
}

.logged-in-form-section:nth-of-type(2) {
    margin-bottom: 0px;
}

.input:disabled {
    background-color: rgba(255, 255, 255, 0.671);
}

.withdraw-btn, .deposit-btn {
    margin-top: 14px;
    align-self: center;
}

.withdraw-btn:disabled, .deposit-btn:disabled {
    background-color: #fcb1ffa8;
}

/* ----- Logged in modals ----- */

.withdraw-modal {
    height: 33vh;
}

.deposit-modal {
    height: 36vh;
}

.modal-content .subtitle {
    font-size: 56px;
    padding-top: 10px;
    color: white;
}

.modal-content .modal-paragraph {
    margin-bottom: 5px;
}

/* ----- Logged in buttons ----- */

.buttons {
    position: absolute;
    right: 60px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance-btn {
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(249, 81, 255);
    color: white;
    border: 2px solid #fdb1ff;
    border-radius: 30px;
}

.balance-btn:hover {
    background-color: #fdb1ff;
    color: rgb(249, 81, 255);
    border: 2px solid rgb(249, 81, 255);
}

.log-out-btn {
    color: #fdb1ff;
    border: 2px solid #fdb1ff;
    background-color: rgb(2, 7, 82);
}

.log-out-btn:hover {
    color: white;
}

.disabled {
    display: none;
}